apiVersion: v1
kind: Service
metadata:
  name: gkorgapp2
  labels:
    app: gkorgapp2
    tenant: gkorg2
  annotations:
    # ExternalDNS annotation - auto-creates DNS record
    external-dns.alpha.kubernetes.io/hostname: gkorgapp2-dev.agents.opsera-labs.com
    # NLB annotations for internet-facing (Learning #101)
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
    # HTTPS with ACM certificate
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: arn:aws:acm:eu-west-2:792373136340:certificate/295d69b5-2d5a-4c44-a3d3-bd35170e36ab
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
spec:
  type: LoadBalancer
  selector:
    app: gkorgapp2
  ports:
    - name: https
      port: 443
      targetPort: 5000
      protocol: TCP
    - name: http
      port: 80
      targetPort: 5000
      protocol: TCP
