apiVersion: v1
kind: ServiceAccount
metadata:
  name: gkorgapp2
  labels:
    app: gkorgapp2
    tenant: gkorg2
  annotations:
    # IRSA annotation - will be populated when OIDC is configured
    # eks.amazonaws.com/role-arn: arn:aws:iam::ACCOUNT_ID:role/gkorgapp2-role
