apiVersion: apps/v1
kind: Deployment
metadata:
  name: luigi-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: luigi-app
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "250m"
