apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: gkorgapp2-staging

namespace: gkorgapp2-staging

resources:
- ../../base

commonLabels:
  environment: staging

# Image configuration - updated by CI/CD pipeline
images:
- name: gkorgapp2
  newName: 792373136340.dkr.ecr.eu-west-2.amazonaws.com/gkorg2/gkorgapp2
  newTag: latest

# Staging environment patches - more resources than dev
patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 2
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/memory
      value: "256Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/cpu
      value: "200m"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: "512Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/cpu
      value: "1000m"
  target:
    kind: Deployment
    name: gkorgapp2
- patch: |-
    - op: replace
      path: /metadata/annotations/external-dns.alpha.kubernetes.io~1hostname
      value: gkorgapp2-staging.agents.opsera-labs.com
  target:
    kind: Service
    name: gkorgapp2
